Úkol 08
Zadání
Úkol můžeš odevzdat buďto jako Jupyter Notebook .ipynb, nebo jako klasický program .py.

Stáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.

1. Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

2. Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

3. Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [4]:
import pandas as pd

1. Načtení dat

In [5]:
seznam_zvirat_zoo_praha = pd.read_csv("adopce-zvirat.txt", sep=";")
seznam_zvirat_zoo_praha

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

2. Základní informace o tabulce

In [6]:
seznam_zvirat_zoo_praha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

2. názvy sloupců

In [9]:
seznam_zvirat_zoo_praha.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

2. Počet řádků a sloupců

In [7]:
seznam_zvirat_zoo_praha.shape

(513, 6)

3. Které zvíře se nachází na záznamu s indexem 34?

In [8]:
seznam_zvirat_zoo_praha.iloc[34]

id                     99
nazev_cz        Ibis bílý
nazev_en       White ibis
trida_cz            Ptáci
cena                 3000
k_prohlidce             1
Name: 34, dtype: object

3. Vypiš název tohoto zvířete v češtině a v angličtině.

In [10]:
seznam_zvirat_zoo_praha[["nazev_cz", "nazev_en"]].iloc[[34]]

     nazev_cz    nazev_en
34  Ibis bílý  White ibis

Nepovinný bonus
Využij metody sort_values() (a libovolných dalších metod), ke zjištění následujících informací:

1. Adopce kterých zvířat je nejdražší? 
2. Které zvíře je alfabeticky poslední v češtině? Které v angličtině?
3. Bonus můžeš doplnit o nějaké vlastní pozorování.

1. Adopce kterých zvířat je nejdražší? Vypsáno 15 nejdražších zvířat.

In [13]:
nejdrazsi_zvirata = seznam_zvirat_zoo_praha.sort_values(by= "cena", ascending=False).head(15)
nejdrazsi_zvirata

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
135,396,Žirafa severní núbijská (= Rothschildova),Rothschild's giraffe,Savci,50000,1
330,1101,Gaviál indický,Indian gharial,Plazi,30000,1
101,297,Orangutan sumaterský,Sumatran orang-utan,Savci,30000,1
115,336,Lev indický,Asiatic lion,Savci,30000,1
102,298,Gorila nížinná,Western lowland gorilla,Savci,30000,1
244,776,Varan komodský,Komodo dragon,Plazi,30000,1
105,310,Medvěd lední,Polar bear,Savci,30000,1
116,337,Gepard,Cheetah,Savci,20000,1
112,331,Levhart mandžuský,Amur leopard,Savci,20000,1
449,1335,Velemlok čínský,Chineese giant salamander,Obojživelníci,20000,1

2. Které zvíře je alfabeticky poslední v češtině?

In [14]:
posledni_ceske = seznam_zvirat_zoo_praha["nazev_cz"].max()
posledni_ceske

'Žluva hajní'

2. Které zvíře je alfabeticky poslední v angličtině?

In [15]:
posledni_anglicke = seznam_zvirat_zoo_praha["nazev_en"].max()
posledni_anglicke

'Yellow-necked francolin'

3. Bonus můžeš doplnit o nějaké vlastní pozorování.

    a. vypiš zvířecí druh s nejdelším názvem v češtině
    
    b. vypiš zvířecí druh s nejdelším názvem v angličtině
    
    c. vypiš 3 zvířata s nejnižšími náklady

a.

In [18]:
nejdelsi_jmeno = seznam_zvirat_zoo_praha["nazev_cz"].apply(len).idxmax()
print(seznam_zvirat_zoo_praha.at[nejdelsi_jmeno, "nazev_cz"])

Žirafa severní núbijská (= Rothschildova)

b.

In [19]:
nejdelsi_jmeno = seznam_zvirat_zoo_praha["nazev_en"].apply(len).idxmax()
print(seznam_zvirat_zoo_praha.at[nejdelsi_jmeno, "nazev_en"])

Australian red-bellied short-necked turtle

c.

In [22]:
nejlevnejsi_zvirata = seznam_zvirat_zoo_praha.sort_values(by= "cena", ascending=True).head(3)
nejlevnejsi_zvirata

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
287,949,Labeo černé,Black shark,Ryby,1000,0
286,948,Kaložrout skvrnitý,Argusfish,Ryby,1000,1